{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ],
    ["minify", { "removeUndefined": false }]
  ],
  "plugins": ["@babel/plugin-transform-runtime"]
}
