[submodule "packages/postgrest-js"]
	path = packages/postgrest-js
	url = https://github.com/supabase-wechat/postgrest-js
[submodule "packages/auth-js"]
	path = packages/auth-js
	url = https://github.com/supabase-wechat/auth-js
[submodule "packages/node-fetch"]
	path = packages/node-fetch
	url = https://github.com/supabase-wechat/node-fetch
[submodule "packages/realtime-js"]
	path = packages/realtime-js
	url = https://github.com/supabase-wechat/realtime-js
