.container {
  width: 100%;
  text-align: center;
  border-radius: 5px;
  background-color: var(--custom-color-brand);
}

.label {
  display: block;
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;
  text-align: center;
  text-shadow: 0 0 4px rgb(38 111 78);
  color: #fff;
}

.input {
  visibility: hidden;
  position: absolute;
}
