name: Release

on:
  push:
    branches:
      - master
      - next
      - rc
  workflow_dispatch:

jobs:
  release:
    name: Release
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Set up Node
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - run: |
          npm clean-install
          npm run build

      - uses: cycjimmy/semantic-release-action@v2
        with:
          semantic_version: 17
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
