.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
}

.containerInner {
  width: 100%;
  padding: 32px;
}

.inputContainer {
  margin-bottom: 8px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}
