.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
}

.containerInner {
  width: 100%;
  padding: 32px;
}

.inputContainer {
  margin-bottom: 8px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgba(31, 31, 31, var(--tw-text-opacity));
}

.input {
  border-radius: 0.375rem;
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-bottom: 16px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 0 0 2px hsl(0deg 0% 100% / 0%);
  font-family: inherit;
  transition: box-shadow 0.3s ease-in-out;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border: 1px solid rgba(187, 187, 187, var(--tw-border-opacity));
}
