.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  padding: 16px;
}

.avatarContainer {
  width: 100%;
  position: relative;
  margin-bottom: 16px;
}

.text {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.bold {
  font-weight: bold;
}
