.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.avatarContainer {
  width: 100%;
  min-width: 200px;
  height: 200px;
  position: relative;
  margin-bottom: 16px;
}

.text {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.bold {
  font-weight: bold;
}

.noImage {
  /* Same as first example */
  min-height: 50px;
}

.noImage:before {
  content: ' ';
  display: block;

  position: absolute;
  top: -10px;
  left: 0;
  height: calc(100% + 10px);
  width: 100%;
  background-color: rgb(230, 230, 230);
  border: 2px dotted rgb(200, 200, 200);
  border-radius: 5px;
}

.noImage:after {
  content: 'No avatar photo';
  display: block;
  font-size: 16px;
  font-style: normal;
  font-family: FontAwesome;
  color: rgb(100, 100, 100);

  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  text-align: center;
}
