.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  border: var(--custom-border);
  width: 300px;
  padding: 16px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.avatarContainer {
  width: 100%;
  position: relative;
}
