name: Block WIP/Draft Merges

on:
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled, ready_for_review]

jobs:
  block-merge:
    uses: supabase/actions/.github/workflows/block-merge.yml@feat/reusable-workflows
    with:
      block_labels: 'do-not-merge'
      block_keywords: 'wip,do not merge'
