name: Label Issues and PRs

on:
  issues:
    types: [opened, transferred]
  pull_request:
    types: [opened]

permissions:
  issues: write
  pull-requests: write

jobs:
  label:
    uses: supabase/actions/.github/workflows/label-issues.yml@659b3cd74a64ee2f1ca0a527922f134707e54671
    with:
      label_mappings: |
        {
          "auth": "auth-js",
          "functions": "functions-js",
          "postgrest": "postgrest-js",
          "storage": "storage-js",
          "realtime": "realtime-js",
          "supabase": "supabase-js"
        }
